/*==========================================================================*/

body{
	background-color: black;
	color: white;
} /* Essa fui eu q fiz :) */

/*==========================================================================*/

/*---------------------------------*/
/*------ CONFIGURAÇÃO GERAL -------*/
/*---------------------------------*/

/* O seletor * seleciona cada um dos elementos do documento HTML */

*{
	/* Zerar as propriedades de margin e padding de todos os elementos do html, pois
	assim teremos maior controle sobre o posicionamento/conteúdo da página */
	margin: 0;
	padding: 0;
}

/* Define uma seleção de propriedades padrão para o site */

html{
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
}

#container{
	background-color: darkcyan;
	min-width: 600px;
	max-width: 1200px;
	/* definimos auto (automático) para as laterais, assim o navegador 
	fica responsável por calcular o espaçamento igual para ambos os lados */
	margin: 0 auto;
}

/*---------------------------------*/
/*------ CABEÇALHO DA PÁGINA-------*/
/*---------------------------------*/

header{
	height: 100px;
	background-color: darkgoldenrod;
	text-align: center;
}

#balao{
	/*Nesse caso, define o tamanho do ícone*/
	font-size: 30px;
	/*Nesse caso, define a cor do ícone*/
	color: blueviolet;
}

header h1{
	padding: 10px 0;
	display: inline-block;
}

nav{
	height: 100px;
	background-color: #DCB6DE;
}

/*Seleciona o elemento li dentro do elemento ul que estiverem 
dentro de um elemento nav*/
nav ul li{
	list-style-type: none;
	display: inline-block;
	background-color: #000;
	/* 8px em cima e em baixo e 10px nas laterias (espaçamento interno) */
	padding: 8px 10px;
	margin-right: 10px;
	margin-top: 4px;
}

nav ul li:hover,
nav ul li:active{
	background-color: #808080;
	transition: 0.3s;
}

nav ul li a:link,
nav ul li a:visited{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/*---------------------------------*/
/*-------- SEÇÃO DESTAQUE ---------*/
/*---------------------------------*/

#destaque{
	height: 470px;
	background-color: #D7CBD7;
}

#destaque figure{
	width: 35%;
	/*display: inline-block;*/
	margin: 25px 20px;
	float: left;
}

#destaque figure img{
	width: 100%;
}

#destaque p{
	width: 60%;
	/*display: inline-block;*/
	float: left;
	margin-top: 25px;
}


/*----------------------------------*/
/*------------ PRINCIPAL -----------*/
/*----------------------------------*/

main{
	background-color: greenyellow;
	height: 500px;
}

#noticias{
	height: 100%;
	width: 70%;
	background-color: darkred;
	float: left;
}

#noticias article{
	background-color: coral;
	height: 45%;
	width: 95%;
	/*Para centralizar um elemento a gente define uma margem para top/bottom 
	do elemento e para as laterais right/left nós definimos como AUTO*/
	margin: 15px auto;
}

aside{
	height: 100%;
	width: 30%;
	background-color: darkmagenta;
	float: left;
}

aside div{
	background-color: lightblue;
	color: black;
	width: 90%;
	height: 30%;
	margin: 10px auto;
}

#foto{
	background-image: url(../img/dog1.jpg);
	background-size: cover;
}

#video{
	width: 100%;
	height: 100%;
}

#mapa{
	width: 100%;
	height: 100%;
}

/*---------------------------------*/
/*------------ RODAPÉ -------------*/
/*---------------------------------*/

footer{
	height: 75px;
	background-color: darkgreen;
}

footer p{
	width: 60%;
	float: right;
	margin-top: 15px;
	margin-right: 25px;
	text-align: right;
}